.liquidChrome-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    pointer-events: none;
    /* Let clicks pass through by default unless interactive */
}

.liquidChrome-container canvas {
    width: 100%;
    height: 100%;
    display: block;
}